
@media only screen and (min-width:768px){
    .col10{
      display: none;
    }   
}

@media (max-width:769px){
    .filterMe, .filterGo {
     display: none;
    } 
    
    .my {
      color :red;
  }
}

@media (prefers-reduced-motion: no-preference) {
 .App-logo {
   animation: App-logo-spin infinite 20s linear;
 }
}




