#dropdown-autoclose-false2::after{
  content: none;
  /* display: none; */
}

@media (max-width:768px ){

  .filterMe, .filterGo {
   display: none;
  }

  #go, #addTo{
    display:none;
  }

  .myimage{
    max-width:385px;
    height:239px;
  }

  #myovelay{
    margin-top: 235px;
  }

  

  #featured{
    margin-top: 235px;
    margin-right: 100px;  
  }

}

@media only screen and (min-width:769px){
  #featured{
    margin-top: 475px;
    margin-right: 400px;
   
  }

}

@media only screen and (min-width:1025px){
  #featured{
    margin-top: 650px;
    margin-right: 400px;
   
  }

}



/* Style the buttons */
.btnn {
  border: none;
  outline: none;
  padding: 4px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

/* Style the active class, and buttons on mouse-over */
.active, .btnn:hover {
  background-color: #666;
  color: white;
}

